body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Seven Segment";
  color: #ffffff;
  margin: auto 0;
  text-align: center;
  background: #202225;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202225;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #dddddd;
    color: #000000;
  }
}

@font-face {
  font-family: digital-clock;
  src: url(../fonts/Digital-Clock/DS-DIGI.TTF);
}

header {
  display: inline-block;
  user-select: none;
}

#logo {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 10px;
  font-size: 23px;
  color: #35bef9;
}

.border {
  position: absolute;
}

.border-1 {
  position: absolute;
  top: -10px;
  width: 286px;
  height: 4.4px;
  background: #d3293c;
  border-radius: 10px;
}

.border-2 {
  position: absolute;
  top: -1px;
  width: 25px;
  height: 4.4px;
  background: #d3293c;
  border-radius: 10px;
  transform: rotate(54deg);
  left: 278px;
}

.border-3 {
  position: absolute;
  top: 9px;
  left: 296px;
  width: 198px;
  height: 4.4px;
  background: #d3293c;
  border-radius: 10px;
}

.date {
  color: #d3293c;
  margin-top: -5px;
  margin-right: 378px;
  font-weight: bold;
  font-size: 20.5px;
}

.day-of-week {
  color: #d3293c;
  margin-right: 378px;
  margin-top: -5px;
  font-size: 15px;
  font-weight: 600;
}

canvas {
  position: absolute;
  right: 15px;
  top: 80px;
  z-index: -3;
}

.clock {
  position: absolute;
  right: 136px;
  top: 86px;
  z-index: 4;
  user-select: none;
  font-family: digital-clock;
  font-size: 23px;
  color: #35bef9;
}

#current-lesson > h2 {
  font-size: 14.5px;
  color: #d3293c;
  font-weight: bold;
  position: absolute;
  left: 4px;
  top: 102px;
}

.current-lesson {
  font-size: 20px;
  color: #35bef9;
  font-weight: bold;
  position: absolute;
  top: 135px;
  left: 3.8px;
}

.pref-button {
  position: absolute;
  bottom: 65px;
  right: 22px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #d3293c;
  user-select: none;
}

.customization-logo {
  width: 45px;
  height: 45px;
}

.countdown-text {
  font-size: 14.5px;
  color: #d3293c;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 189px;
}

.countdown-lesson-break {
  font-family: digital-clock;
  font-size: 30px;
  color: #35bef9;
  position: absolute;
  right: 47px;
  top: 228px;
}

.border-end {
  position: absolute;
}

.border-end-1 {
  position: absolute;
  top: 214px;
  width: 160px;
  left: 334px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.border-end-2 {
  position: absolute;
  top: 224px;
  width: 25px;
  left: 318px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
  transform: rotate(108deg);
}

.border-end-3 {
  position: absolute;
  top: 236px;
  width: 4.4px;
  left: 325px;
  height: 55px;
  background: #D3293C;
  border-radius: 10px;
}

.border-end-4 {
  position: absolute;
  top: 288px;
  width: 169px;
  left: 325px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

h4 {
  font-size: 13.5px;
  color: #d3293c;
  font-weight: bold;
  position: absolute;
  right: 6px;
  top: 308px;
}

.countdown-end {
  font-family: digital-clock;
  font-size: 34px;
  color: #35bef9;
  position: absolute;
  right: 36px;
  top: 348px;
}

.border-plan {
  position: absolute;
}

.border-plan-1 {
  position: absolute;
  top: 75px;
  width: 260px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.border-plan-2 {
  position: absolute;
  top: 86px;
  left: 252px;
  width: 30px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
  transform: rotate(54deg);
}

.border-plan-3 {
  position: absolute;
  top: 97px;
  left: 272.15px;
  width: 4.4px;
  height: 400px;
  background: #D3293C;
  border-radius: 10px;
}

.border-plan-4 {
  position: absolute;
  top: 493px;
  width: 275px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.footer-text {
  font-size: 13.5px;
  color: #d3293c;
  font-weight: 400;
  position: absolute;
  bottom: -16px;
  left: 120.5px;
  user-select: none;
}

.border-footer-1 {
  position: absolute;
  bottom: 5px;
  width: 100px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.border-footer-2 {
  position: absolute;
  bottom: 17px;
  left: 92px;;
  width: 30px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
  transform: rotate(-54deg);
}

.border-footer-3 {
  position: absolute;
  bottom: 29px;
  left: 114px;
  width: 54.12%;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.border-footer-4 {
  position: absolute;
  bottom: 17px;
  right: 92px;;
  width: 30px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
  transform: rotate(54deg);
}

.border-footer-5 {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 100px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}
.feel-free {
  position: absolute;
  right: 41.5px;
  top: 47px;
  user-select: text;
  font-size: 17px;
  color: #35bef9;
  font-weight: bold;
  user-select: none;
}

.refresh-button {
  position: absolute;
  bottom: 160px;
  right: 22px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #d3293c;
  user-select: none;
}

.refresh-logo {
  width: 45px;
  height: 45px;
  margin-top: 9px;
}

.lessons-plan {
  position:absolute;
  text-align: left;
  top: 195px;
  left: 14px;
  font-weight: 600;
  font-size: 17px;
}

.lekcja-skonczona {
  font-weight: 400;
  display: flex;
}

.lekcja-w-trakcie {
  color: #35bef9;
  font-weight: 700;
  font-size: 19px;
}