body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Seven Segment";
  color: #ffffff;
  margin: auto 0;
  text-align: center;
  background: #202225;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202225;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #dddddd;
    color: #000000;
  }
}

@font-face {
  font-family: digital-clock;
  src: url(../fonts/Digital-Clock/DS-DIGI.TTF);
}


header {
  background-color: #202225;
  display: inline-block;
  user-select:none;
}

#logo {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 10px;
  font-size: 23px;
  color: #35BEF9;
}

.border {
  position: absolute;
}

.border-1 {
  position:absolute;
  top: -10px;
  width: 286px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.border-2 {
  position:absolute;
  top: -1px;
  width: 25px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
  transform:rotate(54deg);
  left: 278px;
}

.border-3 {
  position:absolute;
  top: 9px;
  left: 296px;
  width: 198px;
  height: 4.4px;
  background: #D3293C;
  border-radius: 10px;
}

.date {
  color: #D3293C;
  margin-top: -5px;
  margin-right: 378px;
  font-weight: bold;
  font-size: 20.5px;
}

.day-of-week {
  color: #D3293C;
  margin-right: 378px;
  margin-top: -6px;
  font-size: 15px;
  font-weight: 600;
}

canvas {
  position: absolute;
  right: 15px;
  bottom: 462px;
}

.clock {
  position: absolute;
  left: 318px;
  top: 86px;
  z-index: 4;
  user-select: none;
  font-family: digital-clock;
  font-size: 23px;
  color: #35BEF9;
}

h2 {
  font-size: 14.5px;
  color: #D3293C;
  font-weight: bold;
  position: absolute;
  right: 382px;
  bottom: 528px;
}

.current-lesson {
  font-size: 18px;
  color: #35BEF9;
  font-weight: bold;
  position: absolute;
  top: 130px;
  left: 8px;
}

.pref-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #D3293C;
  user-select: none;
}

.countdown-lesson-text {
  font-size: 14.5px;
  color: #D3293C;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 190px;
}

.countdown-break-text {
  font-size: 14.5px;
  color: #D3293C;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 190px;
}

.countdown-lesson-break {
  font-family: digital-clock;
  font-size: 30px;
  color: #35BEF9;
  position: absolute;
  right: 47px;
  top: 228px;
}